<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create Clock</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Please enter the new Clock details</h1>
<form action="#" th:action="@{/clock/createClock}" method="post">
    <p>Clock name: <input type="text" name="clockName"/></p>
    <p>Clock Time Zone :
        <select name="timeZoneId">
            <option label="EASTERN STANDARD TIME" value="0"></option>
            <option label="ATLANTIC STANDARD TIME" value="1"></option>
            <option label="INDIAN STANDARD TIME" value="2"></option>
        </select>
    <p>Notifier Email: <input type="email" name="toAddress" required></p>
    <p><input type="submit" value="Add Clock"/> <input type="reset" value="Reset"/></p>
</form>
<a href="/WUAMainMenu"> Home </a>
</body>
</html>