<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>
<body>
<h1>Answer the security questions </h1>
<form action="#" th:action="@{/authentication/forgetpassword}" th:object="${forgetpassword}" method="post">

    <H3>Security Questions</H3>
    <p>Email: <input type="text" th:field="*{Email}"/></p>
    <p>your nick Name: <input type="text" th:field="*{nickName}"/></p>
    <p>your favourite colour: <input type="text" th:field="*{favColour}"/></p>
    <p>your favourite car: <input type="text" th:field="*{favCar}"/></p>
    <p></p>
    <p>Enter new password: <input type="password" th:field="*{newPassword}"/></p>
    <p><input type="submit" value="Set"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>