<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Log in successful </h1>
<p th:text="'Welcome ' + ${userLogin.email}"/>
<hr>
<h3><a href="/todo/toDoHomePage">ToDo</a></h3>
<h3><a href="/clock">Clock</a></h3>
<h3><a href="/calendar/calendarHomePage">Calendar</a></h3>
<h3><a href="/email/configure">Configure Email SMTP</a></h3>
<h3><a href="/email/send">Send Email</a></h3>
<h3><a href="/ato">ATO</a></h3>
<h3><a href="/search/searchPattern">Search</a></h3>
</body>
</html>