<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>
<h2><a href="/todo/setTask">Set Task</a></h2>
<h2><a href="/todo/viewTask">View task</a></h2>
<h2><a href="/todo/updateTask">Update task</a></h2>
<h2><a href="/todo/filterTaskBasedOnDate">filter Task</a></h2>
<h2><a href="/todo/sortTask">Sort task Based on deadline</a></h2>
<h2><a href="/todo/deleteTask">Delete task</a></h2>
<h2><a href="/todo/assignTask">Assign task</a></h2>
<h2><a href="/WUAMainMenu">Main WUA Menu</a></h2>
</body>
</html>